<div ng-controller="LoginCtrl">
<form class="form-signin" >
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="userName" class="sr-only">Email address</label>
    <input type="text" id="userName" class="form-control" placeholder="Email address" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
    <p>{{response}}</p>
</div>
